 *{
  margin: 0;
  padding: 0;
  font-family:"Montserrat", arial ;}
/* center the page */
.account-icons{
  position: absolute;
      right: 0em;
      top: 1em;
}
.account-icons div {
  float:left;
  margin-right: 12px;
}
i::before{
  color:#282b2d;
}
/* list & ul */

.col {
  padding:10px;
}
.container-fluid{
  margin-left: 20px;
}

#logo {
  font-family: 'Style Script', 'Montserrat', arial;
  text-transform: capitalize;
  color:#48e0a4;

}
#logo:hover{
  opacity: 0.7;
}

/* section for store */
section h2 {
  text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.4em;
    margin-top:1em;
}
.img-container {
  margin: 1em;
  position:relative;

}
.img-container img{
  width: 200px;
  height:auto;


  /* position:relative;
  left:50%;
  transform: translateX(-50%); */
}

.parent {
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent span{
  color: #79e5ec;
  border-bottom: aqua 2px solid;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer{
	position:relative;
}
.icons {
    position: fixed;
    bottom: 1em;
    right: 1px;
}
.icons a{
	display:block;
    padding: 0.5em;

}

.img_container img{
    width: 150px;
}
.user_option-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.user_option-box a {
  color: #000000;
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 20px;
}

.user_option-box a:hover {
  color: #3b4a6b;
}
@media (max-width: 992px) {

  .user_option-box{
    justify-content: center;
  }
  .user_option-box a {
    margin: 0 7px;
}

}
#signup input, #login input {
  max-width: 300px;
}
.text-input {
    display: block;
    padding: .6rem 1rem;
    border-radius: 3px;
    border: 3px solid rgba(0,0,0,.79);
    width: 100%;
    margin-bottom: .5rem;
    color: rgba(0,0,0,.84);
    transition: background .2s;
}
.text-input:hover {
    background: #fbfbfb;
}
/* pagination */
.pagination {
  background: #e0e0e0;
    border-radius: 40px;
    width: 230px;
  }
.page-item {
  padding:6px;

}
.page-item > input {
  box-shadow: 0px 13px 40px 3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 13px 40px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 40px 3px rgba(0,0,0,0.75);


}


.page-item:hover > input {
  background: #ff1879;;
  color:#e6e6e6;

}
#previous {
  border-radius: 30px 5px 5px 30px;
}
#next {
  border-radius:5px 30px 30px 5px;
}
