<%- include('parts/layout') %>
<%- include('parts/nav') %>
<h3 style="text-align:center" class="p-5">Login Account</h3>
<form class="shadow-sm mb-5 bg-body bg-primary rounded p-5 " id="login" action="/login" method="POST" >

  <label for="email">Your Email</label>
  <input type="email" name="email" id="email" placeholder="Your E-mail" class="text-input">
  <label for="pass">your password</label>
  <input type="password" name="password" id="pass" placeholder="Your Password" class=" text-input">
  <input class="btn btn-danger" type="submit" value="Login">

</form>
<% for(let what of validlogin) { %>
    <p class="alert alert-info">
      <%= what %>
    </p>
<% } %>

<p>Don't have account? <a href="/signup">signup</a></p>

<%- include('parts/footer') %>
